/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E5E5E5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el 100% de la altura de la ventana */
}

main {
    max-width: 1200px;
    margin: 0 auto; /* Centrar el main */
    flex-grow: 1; /* Permite que el contenido crezca y empuje el footer hacia abajo */
}

.main-container {
    padding-top: 2%;
    background-color: white;
    font-family: 'Roboto', sans-serif; /* Aplica la fuente Roboto */
}

/* Banner */
.banner {
    position: relative;
    text-align: center;
}

.banner blockquote {
    width: 900px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px 0;
    border-radius: 5px;
    z-index: 2;
}

.banner img {
    width: 900px;
    height: 400px; /* Tamaño fijo */
    object-fit: cover; /* Adaptar imagen */
    border-radius: 10px;
    margin-bottom: 0;
}

.main-container hr {
    margin: 0 auto;
    width: 80%;
}


/* Contenedor de la barra de búsqueda */
.busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% auto;
    width: 500px; /* Ancho total fijo */
    position: relative; /* Necesario para posicionar los resultados de búsqueda */
}

/* Botón de búsqueda */
.busqueda button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Espacio entre ícono y texto */
    width: 130px; /* Ancho fijo */
    padding: 12px 0; /* Espaciado interno */
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 30px 0 0 30px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover del botón */
.busqueda button:hover {
    background-color: #16a085;
}

/* Input de búsqueda */
.busqueda input {
    flex-grow: 1; /* Toma el espacio restante */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 0 30px 30px 0;
    font-size: 1rem;
}

/* Estilo de los resultados de búsqueda */
.search-results {
    border: 1px solid #ccc;
    background-color: white;
    width: 370px;
    overflow-y: auto;
    position: absolute;
    top: 48px; /* Ajuste para que los resultados no se solapen con el input */
    right: 0;
    z-index: 10;
    display: none; /* Inicialmente oculto */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* Enlaces de los resultados */
.search-results a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

/* Hover de los resultados */
.search-results a:hover {
    background-color: #f0f0f0;
}

/* Estilo de "No se encontraron resultados" */
.search-results p {
    padding: 10px;
    color: #888;
    font-style: italic;
}










/* General */
.ultimos-articulos {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2%;
}

.ultimos-articulos h2 {
    margin-left: 0;
    margin-bottom: 20px;
    color: #2c3e50;
}

/* Grilla */
.articulos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 20px;
    align-items: stretch; /* Estira las tarjetas */
}

@media (max-width: 768px) {
    .articulos-grid {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }
}

/* Tarjetas */
.articulo {
    background-color: white;
    border: 2px solid transparent; /* Cambiar borde para destacar */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; /* Apilar contenido */
    justify-content: space-between; /* Espaciar elementos */
    align-items: stretch;
    text-align: center;
    height: 100%;
    transition: border-color 0.3s ease; /* Efecto hover */
    padding: 1%;
}

.articulo h3 a {
    text-decoration: none;  /* Elimina el subrayado del enlace */
    color: inherit;  /* Hereda el color del texto de su elemento padre */
}

.articulo h3 a:hover {
    text-decoration: underline;  /* Aplica el subrayado solo cuando el puntero pasa por encima */
}

.articulo h3 {
    font-size: 1.2rem;
    margin: 5px 10px;
    color: #34495e;
    word-wrap: break-word;
    min-height: 3em; /* Consistencia en altura */
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
}

/* Imagen */
.articulo img {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 80%; /* Ajusta el ancho relativo con padding */
    height: 200px; /* Tamaño fijo */
    object-fit: cover; /* Escala la imagen para llenar el espacio */
    margin: 0 auto; /* Centrar la imagen horizontalmente */
    display: block; /* Para evitar problemas de alineación */
    transition: transform 0.3s ease; /* Transición suave al hacer hover */
}

.articulo img:hover {
    transform: scale(1.01); /* Aumenta el tamaño de la imagen un 5% */
}

/* Información */
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    color: black;
    width: 80%; /* Coincide con el ancho de la imagen */
    box-sizing: border-box; /* Asegura que el padding se incluya dentro del ancho */
    margin: 2% auto; /* Centra el bloque de información */
}

.info i {
    margin-right: 5px; /* Espaciado entre el ícono y el texto dentro de cada `span` */
}

.articulo hr {
    width: 90%;
    margin: 0 auto;
}

.articulo p {
    width: 90%;
    margin: 10px auto; /* Centrar el párrafo horizontalmente */
    font-size: 0.9rem;
    color: #484f50;
    text-align: justify;
    font-family: 'Open Sans', sans-serif; /* Aplica la fuente Open Sans */
}


.articulo a {
    text-decoration: none;  /* Elimina el subrayado del enlace */
}

.articulo a:hover button {
    text-decoration: underline;  /* Aplica el subrayado solo cuando el puntero pasa por encima del enlace */
}

.articulo button {
    display: block;
    margin: 2% auto;
    padding: 10px 20px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.articulo button:hover {
    background-color: #16a085;
}


.footer {
    background-color: #009688; /* Color similar al que se ve en la imagen */
    color: white;
    padding: 15px 0;
    font-size: 0.9rem;
    text-align: center;
    display: flex;
    flex-direction: column; /* Cambiado para apilar los elementos verticalmente */
    justify-content: center;
    align-items: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column; /* Cambiar la dirección a columna */
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 0; /* Eliminar margen para un mejor espaciado */
    padding-bottom: 10px; /* Espacio debajo del párrafo */
}

.footer-links {
    display: flex;
    justify-content: center; /* Centrar los enlaces horizontalmente */
    margin-top: 5px; /* Espacio entre el párrafo y los enlaces */
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 5px; /* Espacio entre los enlaces */
}

.footer-links a:hover {
    text-decoration: underline;
}


/* Responsividad para el banner */
@media (max-width: 768px) {
    .banner img {
        width: 100%; /* Hacer que la imagen ocupe el 100% del ancho */
        height: auto; /* Ajustar la altura proporcionalmente */
    }

    .banner blockquote {
        width: 80%; /* Reducir el ancho del blockquote */
        font-size: 1.2rem; /* Ajustar el tamaño de la fuente */
        bottom: 20px; /* Separar un poco más el blockquote de la imagen */
    }

    .main-container hr {
        width: 90%; /* Ajustar el ancho de la línea horizontal */
    }

    /* Ajustar la barra de búsqueda */
    .busqueda {
        width: 90%; /* Hacer que la barra de búsqueda ocupe un ancho relativo */
    }

    .busqueda button {
        width: 120px; /* Reducir el ancho del botón */
        font-size: 0.9rem; /* Reducir el tamaño de la fuente */
    }

    .busqueda input {
        font-size: 0.9rem; /* Reducir el tamaño de la fuente */
    }

    /* Ajustar el footer */
    .footer-container {
        max-width: 100%; /* Hacer que el footer ocupe el 100% del ancho */
        padding: 0 15px; /* Agregar algo de espacio en los bordes */
    }

    .footer p {
        font-size: 0.8rem; /* Reducir el tamaño de la fuente */
    }

    .footer-links a {
        font-size: 0.9rem; /* Ajustar el tamaño de los enlaces */
    }
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 480px) {
    .footer p {
        font-size: 0.7rem; /* Reducir aún más el tamaño de la fuente */
    }

    .footer-links a {
        font-size: 0.8rem; /* Reducir el tamaño de los enlaces */
    }
}
