/* Header principal */
.header {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009688;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 10vh; /* Ajusta esta altura según sea necesario */
    min-height: 80px;
    padding: 0;
    position: relative; /* Posición relativa para servir de referencia al menú móvil */
    z-index: 1000;
}

/* Contenedor del contenido del header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    box-sizing: border-box;
}

/* Logo */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100%;
}

.logo img {
    max-width: 100%;
    max-height: 80%;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
}

.logo img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Navegación - Pantallas grandes */
.desktop-nav {
    display: flex;
    height: 100%;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    width: 120px;
    height: 100%;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    box-sizing: border-box;
}

.nav-link:hover {
    background-color: #018575;
}

.nav-link.active {
    background-color: #00796b;
    color: #FFEB3B;
}



/* Botón de inicio de sesión - Pantallas grandes */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100%;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: none;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9rem;
    height: 100%;
    width: 100%;
    transition: background-color 0.3s, color 0.3s;
}

.login-button:hover {
    background-color: white;
    color: #009688;
}


#options-container {
    display: none;
}


.options-menu {
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    font-size: 0.9rem;
}

.dropdown-trigger {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-trigger span {
    margin-right: 5px;
    font-weight: bold;
}

.arrow {
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(180deg);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #009688;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 9999;
    padding: 10px 0;
}

.dropdown-menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu a:hover {
    background-color: white;
    color: #009688;
}








/* Menú hamburguesa - Pantallas pequeñas */
.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
    transition: width 0.3s ease, height 0.3s ease;
}

.hamburger-menu .bar {
    background-color: white;
    height: 3px;
    width: 100%;
    border-radius: 2px;
}

/* Estilo para la navegación móvil */
.mobile-nav {
    display: none;
    flex-direction: column;
    position: absolute; /* Permite posicionarlo respecto al header */
    top: 100%; /* Asegura que se coloque justo debajo del header */
    left: 0;
    width: 100%;
    background-color: #009688;
    z-index: 999; /* Asegura que esté encima de otros elementos si es necesario */
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agrega una sombra para separarlo visualmente */
}

.mobile-nav.active {
    display: flex;
}

.mobile-nav .nav-link {
    padding: 10px;
    text-align: center;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
}

.mobile-nav .login-button {
    background-color: white;
    color: #009688;
    border-radius: 5px;
    margin: 10px auto;
    width: 50%;
}

/* Responsividad */
@media (max-width: 768px) {
    .desktop-nav,
    .desktop-login,
    .options-menu{
        display: none !important;
    }

    .hamburger-menu {
        display: flex;
    }

    .header {
        height: 8vh;
    }

    /* Contenedor del contenido del header */
    .header-container {
        padding: 0 5px;
    }

    /* Logo */
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 100%;
    }

    .logo img {
        max-width: 100%;
        max-height: 80%;
        border-radius: 50px;
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
}




/* Popups */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.popup-content h2 {
    margin-bottom: 20px;
    color: #007BFF;
}

.popup-content form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.popup-content form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.popup-content button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.popup-content button:hover {
    background-color: #0056b3;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover {
    color: red;
}
