/* Header principal */
.header {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; /* Centrar contenido del header */
    align-items: center;
    background-color: #009688; /* Fondo del header */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    height: 10vh; /* Altura responsiva */
    min-height: 80px; /* Altura mínima */
    padding: 0; /* Sin espacio adicional */
}

/* Contenedor del contenido del header */
.header-container {
    display: flex;
    justify-content: space-between; /* Espaciado entre elementos */
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Ancho máximo */
    height: 100%; /* Coincide con la altura del header */
    box-sizing: border-box; /* Evita problemas con padding */
}

/* Logo */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px; /* Ancho fijo */
    height: 100%; /* Ocupa toda la altura del header */
}

.logo img {
    max-width: 100%; /* Escalado responsivo */
    max-height: 80%; /* Limitar altura */
    background-color: white; /* Fondo opcional */
    border-radius: 50px;
}

/* Navegación */
nav {
    display: flex;
    height: 100%; /* Altura total del header */
}

/* Enlaces de navegación */
.nav-link {
    display: flex;
    justify-content: center; /* Centrar texto */
    align-items: center;
    text-decoration: none; /* Sin subrayado */
    color: white; /* Texto blanco */
    font-weight: bold;
    width: 120px; /* Ancho fijo */
    height: 100%; /* Altura completa del header */
    transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
    text-align: center;
    box-sizing: border-box; /* Incluye padding/margen en el ancho */
}

/* Hover en enlaces */
.nav-link:hover {
    background-color: #018575; /* Fondo más oscuro */
    
}

/* Enlace activo */
.nav-link.active {
    background-color: #00796b; /* Fondo sección activa */
    color: #FFEB3B; /* Texto amarillo */
}

/* Botón de inicio de sesión */
.login {
    display: flex;
    justify-content: center; /* Centrar botón */
    align-items: center;
    width: 120px; /* Ancho fijo */
    height: 100%; /* Ocupa toda la altura del header */
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: none; /* Fondo transparente */
    font-weight: bold;
    text-decoration: none; /* Sin subrayado */
    font-size: 0.9rem; /* Tamaño de fuente */
    height: 100%; /* Altura completa */
    width: 100%; /* Ancho completo del contenedor */
    transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
}

/* Hover en botón */
.login-button:hover {
    background-color: white; /* Fondo blanco */
    color: #009688; /* Texto color header */
}

